*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigations */
.navigation {
    padding: 10px;
    width: 100%;
    top: 0;
    background-color: rgb(113, 21, 199);
    box-shadow: 0 5px 30px blueviolet;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    padding: 5px;
    margin: 10px;
    height: 3rem;
    width: 15rem;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    color: black;
}

nav {
    background-color:  transparent;
    display: flex;
    justify-content: right;
    backdrop-filter: blur(100px);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3px;
    list-style: none;
}

nav ul li button {
    text-decoration: none;
    margin-top: 15px;
}

nav ul li button .AboutMe {
    color: black;
    text-decoration: none;
    transition: 1s;
}

nav ul li button .AboutMe:hover {
    color: white;
}

nav ul li button .MyExperience {
    color: black;    
    text-decoration: none;
    transition: 1s;
}

nav ul li button .MyExperience:hover {
    color: white;
}

nav ul li button .MyCertificaions {
    color: black;
    text-decoration: none;
    transition: 1s;
}

nav ul li button .MyCertificaions:hover {
    color: white;
}

nav ul li button .ContactMe {
    color: black;
    text-decoration: none;
    transition: 1s;
}

nav ul li button .ContactMe:hover {
    color: white;
}

.li-tulisan {
    height: 30px;
    width: 130px;
    padding: 0;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 15px;
    transition: 1s;
}

.li-tulisan:hover {
    border-radius: 30px;
    text-decoration: underline;
    color: white;
    background-color: blueviolet;
    box-shadow: 0 0 20px purple;
    box-sizing: inherit;
}

/* Animations the slide scroll */
section .fil-layar, .fil-experience, .fil-certifications, .fil-contact {
    transition: 2s;
    text-wrap: wrap;
}

.sec-1 .fil-layar {
    transform: translateY(-100%);
}

.sec-1.show-animate .fil-layar {
    transform: translateY(0);
}

.sec-2 .fil-experience {
    transform: translateX(-100%);
}

.sec-2.show-animate .fil-experience {
    transform: translateX(0);
}

.sec-3 .fil-certifications {
    transform: translateX(-100%);
}

.sec-3.show-animate .fil-certifications {
    transform: translateX(0);
}

.sec-4 .fil-contact {
    transform: translateX(-100%);
}

.sec-4.show-animate .fil-contact {
    transform: translateX(0);
}


/* About me or layer */
.layar {
    background-color: rgba(0, 0, 0, 0.904);
    min-height: 100vh;
}

.layar h1 {
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
}

.explain{
    display: flex;
    flex-direction: row;
}

/* typing animations */
.container {
    width: 246px;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: #4070F4;
    font-size: 35px;
    font-weight: 600;
}

.container .text.text1 {
    margin-left: 80px;
}

.container .text.text2{
    margin-left: 5px;
}

.container .text.first-text {
    color: white;
}

.container .text.second-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000615;
    border-left: 2px solid #4070F4;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.904);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

.about .p-about-me{
    height: 10px;
    background-color: transparent;
    font-size: 17px;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 50px;
    color: white;
}

.img img {
    height: 450px;
    width: 325px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 2px;
    margin-right: 35px;
    background-color: blueviolet;
    border: 5px solid purple;
    box-shadow: 0 30px 500px purple;
    border-radius: 80px;
    transition: 2s;
}

.img img:hover {
    /* border: 5px solid greenyellow; */
    /* background-color: rgb(37, 172, 3); */
    background-color: purple;
    border: 5px solid blueviolet;
    border-radius: 50px;
}


/* my experience */
.my-experience {
    /* background: url(images/langit.png); */
    background-color: rgba(0, 0, 0, 0.904);
    min-height: 100vh;
}

.experience-1 h1 {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.experience-1 .p-my-experience{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 500px;
    height: 10px;
    color: white;
}

.my-experience .images-1 {
    display: flex;
    width: 100px;
    height: 170px;
    margin-left: 560px;
    margin-top: 50px;
    border-radius: 50px;
    gap: 10px;
    transition: 1s;
}

.my-experience .images-1 .first {
    display: flex;
    padding-right: 0px;
    /* border: 5px solid yellowgreen; */
    border: 5px solid purple;
    box-shadow: 0 5px 15px blueviolet;
    border-radius: 20px;
    transition: 1s;
}

.my-experience .images-1 .first:hover {
    /* border: 5px solid greenyellow; */
    border: 5px solid blueviolet;
    border-radius: 50px;
}

.my-experience .images-1 .second {
    display: flex;
    padding-right: 0px;
    /* border: 5px solid yellowgreen; */
    border: 5px solid purple;
    box-shadow: 0 5px 15px blueviolet;
    border-radius: 20px;
    transition: 1s;
}

.my-experience .images-1 .second:hover {
    /* border: 5px solid greenyellow; */
    border: 5px solid blueviolet;
    border-radius: 50px;
}

.my-experience .images-1 .third {
    display: flex;
    padding-right: 0px;
    /* border: 5px solid yellowgreen; */
    border: 5px solid purple;
    box-shadow: 0 5px 15px blueviolet;
    border-radius: 20px;
    transition: 1s;
}

.my-experience .images-1 .third:hover {
    /* border: 5px solid greenyellow; */
    border: 5px solid blueviolet;
    border-radius: 50px;
}

.my-experience .images-2 {
    display: flex;
    gap: 90px;
    justify-content: center;
    width: 10px;
    height: 160px;
    margin-left: 630px;
    margin-top: 100px;
}

.my-experience .images-2 .first{
    padding-right: 0px;
    border-radius: 40px;
    box-shadow: 0 0 15px blueviolet;
}

.my-experience .images-2 .second{
    padding-right: 00px;
    border-radius: 40px;
    box-shadow: 0 0 15px blueviolet;
}

.my-experience .images-2 .third{
    padding-right: 0px;
    border-radius: 40px;
    box-shadow: 0 0 15px blueviolet;
}

.my-experience .images-2 .fourth{
    padding-right: 0px;
    border-radius: 40px;
    box-shadow: 0 0 15px blueviolet;
}

.my-experience .images-2 .five{
    padding-right: 0px;
    border-radius: 40px;
    box-shadow: 0 0 15px blueviolet;
}


/* my certifications */
.my-certifications {
    /* background: url(images/langit.png); */
    background-color: rgba(0, 0, 0, 0.904);
    min-height: 100vh;
}

.my-certifications h1 {
    padding-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.my-certifications p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 10px;
    color: white;
}

/*============== card ==============*/
.container {
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 3rem;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.card__article {
    position: relative;
    overflow: hidden;
    /* border: solid 2px greenyellow; */
    background-color: rgb(94, 15, 167);
    border: 2px solid rgba(128, 0, 128, 0.767);
    box-shadow: 0 20px 90px blueviolet;
    border-radius: 10px;
    /* box-shadow: 0 20px 90px rgb(42, 210, 0); */
}

.card__img {
    width: 250px;
    margin: 30px;
    justify-content: center;
    border-radius: 5px;
}

.card__data {
    width: 280px;
    /* background-color: rgb(33, 192, 1); */
    background-color: blueviolet;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px purple;
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: 1s, 1s;
}

.card__description {
    display: block;
    font-size: 15px;
    margin-bottom: .25rem;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-weight: bold;
    margin-left: 130px;
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overlow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overlow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* card animations */
@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overlow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overlow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* ================ BREAKPOINTS ============== */
/* for small device */
@media screen and (max-widht: 340px) {
    .container {
        margin-inline: 1rem;
    }
    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* for medium device */
@media screen and (min-widht: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* for large device */
@media screen and (min-widht: 1120px) {
    .container {
        height: 100dvh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}


/* Contact me */
.contact-me {
    /* background: url(images/background.jpg); */
    background-color: rgba(0, 0, 0, 0.904);
    min-height: 100vh;
}

.contact-me h1 {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.contact-me .p {
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 10px;
    color: white;
}

.contact-me .p strong {
    color: blanchedalmond;
}

.my-contact {
    background-color: #ffffff;
    position: relative;
    height: 500px;
    width:500px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 90px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: 0 0 500px purple;
    transition: 1s;
}

.my-contact:hover {
    border-radius: 10px;
    box-shadow: 0 0 500px blueviolet;
    margin-left: 400px;
}

.my-contact .icons {
    font-size: 20px;
}

.my-contact .icons a {
    color: black;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}

.my-contact .icons a:hover {
    color: aqua;
}

.my-contact .icons .instagram {
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    background-color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    transition: 1s;
}

.my-contact .icons .icons-instagram {
    height: 0px;
    width: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    transition: 1s;
}

.my-contact .icons .instagram:hover {
    background-color: rgba(137, 43, 226, 0.719);
    color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-decoration: underline;
}

.my-contact .icons .youtube {
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    background-color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    transition: 1s;
}

.my-contact .icons .icons-youtube {
    height: 10px;
    width: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    transition: 1s;
}

.my-contact .icons .youtube:hover {
    background-color: rgba(137, 43, 226, 0.719);
    color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-decoration: underline;
}

.my-contact .icons .linkedin {
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
}

.my-contact .icons .icons-linkedin {
    height: 0px;
    width: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    transition: 1s;
}

.my-contact .icons .linkedin:hover {
    background-color: rgba(137, 43, 226, 0.719);
    color: aqua;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    text-decoration: underline;
}

.contact-me .fil-contact .top .top2 .fa-solid{
    border-radius: 50px;
    box-shadow: 0 0 100 white;
    width: 80px;
    height: 90px;
    font-size: 50px;
    color: blueviolet;
    margin-left: 1150px;
    transition: 1s;
}

.contact-me .fil-contact .top .top2 .fa-solid .back-p {
    font-size: 10px;
    text-align: left;
    padding-top: 5px;
}

.contact-me .fil-contact .top .top2 .fa-solid:hover {
    color: white;
}